@model IEnumerable<kmakai.MVC.Ecommerce.Models.Product>

@{
    ViewData["Title"] = "Home Page";
    List<Category> categories = ViewBag.Categories;
}

<div class="d-flex gap-2 m-2" style="max-width: 500px;">
    <select name="sortType" class="form-select" id="search-category">
        <option value="0" selected>All Categories</option>
        @foreach (var category in categories)
        {
            <option value="@category.CategoryId">@category.Name</option>
        }
    </select>

    <input type="text" class="form-control" name="searchTerm" placeholder="Search products" id="search-box" />
    <button type="submit" class="btn btn-primary" id="search-button">clear</button>
</div>

<div class="search-container">
</div>

<div class="row mb-4 p-2">
    <h3 class="">Featured products</h3>
    <div class="featured-products">
        @foreach (var product in Model)
        {
            @if (product.Rating > 4.5)
            {
                <div class="product-card border shadow-sm">
                    <img src="@product.ImageUrl" alt="" class="card-img product-img" />
                    <div class="product-card-info">
                        <span class="card-title">
                            <a asp-action="product" asp-controller="product" asp-route-id="@product.ProductId">
                                @product.Name
                            </a>
                        </span>
                        <div class="price-rating d-flex">
                            <span class="">
                                $@product.Price
                            </span>
                            <span class="ms-auto">
                                @product.Rating

                                <i class="bi bi-star-fill star"></i>
                            </span>
                        </div>
                        <span>In @product.Category.Name</span>
                        <div class="mt-auto">
                            <form class="add-product-form">
                                <input type="hidden" name="productId" value="@product.ProductId" />
                                <input type="hidden" name="productName" value="@product.Name" />
                                <input type="hidden" name="productPrice" value="@product.Price" />
                                <input type="hidden" name="productImageUrl" value="@product.ImageUrl" />
                                <button type="submit" class="btn btn-success">Add to cart</button>
                            </form>
                        </div>


                    </div>
                </div>
            }

        }
    </div>
</div>

<div class="row p-2">
    <h3 class="">Products</h3>
    <div class="all-products">
        @foreach (var product in Model)
        {
            @if (product.Rating < 4.5)
            {
                <div class="product-card border border-3">
                    <img src="@product.ImageUrl" alt="" class="card-img product-img" />
                    <div class="product-card-info">
                        <span class="card-title">
                            <a asp-action="product" asp-controller="product" asp-route-id="@product.ProductId">
                                @product.Name
                            </a>
                        </span>
                        <div class="price-rating d-flex">
                            <span class="">
                                $@product.Price
                            </span>
                            <span class="ms-auto">
                                @product.Rating

                                <i class="bi bi-star-fill star"></i>
                            </span>
                        </div>
                        <div class="mt-auto">
                            <form class="add-product-form">
                                <input type="hidden" name="productId" value="@product.ProductId" />
                                <input type="hidden" name="productName" value="@product.Name" />
                                <input type="hidden" name="productPrice" value="@product.Price" />
                                <input type="hidden" name="productImageUrl" value="@product.ImageUrl" />
                                <button type="submit" class="btn btn-success">Add to cart</button>
                            </form>
                        </div>


                    </div>
                </div>
            }
        }
    </div>
</div>