@model IEnumerable<kmakai.MVC.Ecommerce.Models.Product>

<div>
    hello you are logged in as @User?.Identity?.Name
</div>

@{
    ViewData["Title"] = "Home Page";
}

<button class="btn btn-outline-dark test-btn">Test</button>

<div class="d-grid gap-2">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Product in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="product" asp-action="product" asp-route-id="@Product.ProductId">
                            @Html.DisplayFor(modelItem => Product.Name)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Product.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Product.Rating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Product.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Product.Category.Name)
                    </td>
                    <td>
                        <form class="add-product-form">
                            <input type="hidden" name="productId" value="@Product.ProductId" />
                            <input type="hidden" name="productName" value="@Product.Name" />
                            <input type="hidden" name="productPrice" value="@Product.Price" />
                            <button type="submit" class="btn btn-success" @* id="add-to-cart-btn" data-productId="@Product.ProductId" data-productName="@Product.Name" *@>Add</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>



</div>
